#gmail{
    background-color: #F6D6D6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#link-gmail{
    font-size: 25px;
}
#M360{
    background-color: #F6F7C4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#link-M360{
    font-size: 25px;
}
#netflix{
    background-color: #A1EEBD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#link-netflix{
    font-size: 25px;
}
#google_drive{
    background-color: #7BD3EA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#link-google{
    font-size: 25px;
}
#twitter{
    background-color: #9694FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#link-twitter{
    font-size: 25px;
}